* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.App {
  background-image: url("../public/assets/tabitha-turner-Ns2aJ5OXKds-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}
